/* Universal Styles */
body {
  font-family: "Helvetica", sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  margin: 0;
}

h2 {
  text-align: center;
}

/* Header */
header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  background-color: black;
}

.logo img {
  width: auto;
  height: 50px;
  margin-left: 10px;
}

.logo {
  flex-grow: 1;
}

nav span a {
  color: seashell;
  padding: 20px 10px;
  padding-right: 10px;
}

/* Main Section */
.main {
  width: 1200px;
  height: auto;
  padding-top: 69px;
  margin: auto;
}
/* Our Mission Section */
.mission {
  display: flex;
  height: 700px;
  background-image: url("../images/img-mission-background.jpg");
}

.missionContent {
  margin: auto;
  text-align: center;
  background-color: black;
  width: 100%;
}

/* Featured Section */
.featured {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  width: 1000px;
  margin: auto;
}

.featuredTitle {
  text-align: center;
  width: 1000px;
}

.featuredBox {
  width: 300px;
  padding: 10px;
}/* Not quite sure about this padding, no spec provided */

.featuredBox img{
  width: 300px;
  height: 200px;
}

.featuredBox h4 {
  margin-top: 10px;
  text-align: center;
}

/* Locations section */
.locations {
  background-image: url("../images/img-locations-background.jpg");
  height: 500px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.locations h2 {
  width: 1200px;
  margin: auto;
  margin-bottom: 15px;
}

.locationContent1, .locationContent2, .locationContent3 {
  text-align: center;
  background-color: black;
  opacity: 1;
  width: 300px;
  margin-right: 40px;
}

/* footer section */
.footer {
  text-align: center;
  height: 200px;
}

#copyright {
  margin-left: 20px;
  text-align: left;
}
